# Godot 4+ specific ignores
.godot/
/
export-templates/
export-linux/
export-windows/
export-android/
.mono/
android/
.vscode/
.idea/
export_presets.cfg
export_presets.cfg
export-web/flappybird.apple-touch-icon.png
export-web/flappybird.apple-touch-icon.png.import
export-web/flappybird.audio.worklet.js
export-web/flappybird.html
export-web/flappybird.icon.png
export-web/flappybird.icon.png.import
export-web/flappybird.js
export-web/flappybird.pck
export-web/flappybird.png
export-web/flappybird.png.import
export-web/flappybird.wasm
export-web/flappybird.worker.js
export_presets.cfg
export_presets.cfg
